# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
csharp/grpc/GrpcServer/obj/
csharp/grpc/GrpcServer/bin/Debug/
csharp/grpc/GrpcClient/obj/Debug/
csharp/grpc/GrpcClient/bin/
csharp/grpc/GrpcClient/obj/
csharp/grpc/.vs/GrpcSample/CopilotIndices/17.14.1204.46620/CodeChunks.db
csharp/grpc/.vs/GrpcSample/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
csharp/grpc/.vs/GrpcSample/DesignTimeBuild/.dtbcache.v2
csharp/grpc/.vs/GrpcSample/FileContentIndex/4baf84b2-dddb-401e-8acd-7664b0f70466.vsidx
csharp/grpc/.vs/GrpcSample/FileContentIndex/5845610f-b15d-4a64-92fb-6cdac955c776.vsidx
csharp/grpc/.vs/GrpcSample/v17/.futdcache.v2
csharp/grpc/.vs/GrpcSample/v17/.suo
csharp/grpc/.vs/GrpcSample/v17/DocumentLayout.backup.json
csharp/grpc/.vs/GrpcSample/v17/DocumentLayout.json
csharp/grpc/.vs/ProjectEvaluation/grpcsample.metadata.v9.bin
csharp/grpc/.vs/ProjectEvaluation/grpcsample.projects.v9.bin
csharp/grpc/.vs/ProjectEvaluation/grpcsample.strings.v9.bin
cpp/eventbus/packages/
cpp/eventbus/eventbus.vcxproj.user
cpp/eventbus/.vs/eventbus/v17/ipch/
cpp/eventbus/obj/
cpp/eventbus/.vs/
obj
.vs
toos/input.txt
