#include "resource.h"
#include <afxres.h>

IDD_MFCASYNC_DIALOG DIALOGEX 0, 0, 270, 126
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MFC Async Await Demo"
FONT 9, "Microsoft YaHei UI"
BEGIN
    LTEXT           "Ready",IDC_STATIC_STATUS,10,10,165,12
    PUSHBUTTON      "Load Data",IDC_BUTTON_LOAD,187,7,73,20
    EDITTEXT        IDC_EDIT_RESULT,10,29,250,85,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
END