<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.listeenb.reader">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="ListeenB"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".ReaderPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>